# reverse this number 27956240710

In [1]:
a= 27956240710
for i in range(1,12):
    c=int(a/10)
    b= a%10
    a=c
    print(b,end='')

01704265972

# problem 10

In [7]:
for c in range(1,4):
    print('#',end='')
print()
for i in range (4,1,-1):
    for j in range(1,i+1):
        print('#',end='')
    print()

###
####
###
##

In [17]:
for i in range(1,8):
    if i<=4:
        for j in range(1,i+1):
            print('#',end='')
        print()
    elif i>=6:
        break
    else:
        for j in range(i-1,1,-1):
            for k in range(1,j):
                print('#',end='')
            print()

#
##
###
####
###
##
#

In [18]:
for i in range(1,8):
    if i<=4:
        for j in range(1,i+1):
            print(j,end='')
        print()
    elif i>=6:
        break
    else:
        for j in range(i-1,1,-1):
            for k in range(1,j):
                print(k,end='')
            print()

1
12
123
1234
123
12
1

In [19]:
for i in range(1, 8):
    if i <= 4:
        for j in range(i):
            print("#", end="")
        print()
    else:
        for j in range(8-i):
            print("#", end="")
        print()

#
##
###
####
###
##
#

In [22]:
for i in range(1, 10):
    if i <= 5:
        for j in range(1,i):
            print(j, end="")
        print()
    else:
        for j in range(1,10-i):
            print(j, end="")
        print()

1
12
123
1234
123
12
1

# problem 11 fibonacci

In [41]:
n=int(input())
i=0
j=1
sum=0
for k in range(0,n):
    print(i,end=' ')
    sum=i+j
    i=j
    j=sum

20
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

# problem 12

In [4]:
li = [1,3,5, [2,3], True]
li[3][0]= 3
li[4]='false'

In [7]:
print(li)

[1, 3, 5, [3, 3], 'false']

# problem 13

In [20]:
s1={1,4,6,8}
s2={'True',1,2,10}
s1 & s2

{1}

## problem 14

In [23]:
li=[]
nm=int(input('insert total number of items to be put in the list: '))
for i in range(nm):
    li.append(input())
for z in li:
    for p in range(nm-1)
        if z==li[(li.index(z)+1+p)]:
            continue
print(z)

SyntaxError: invalid syntax (3763188100.py, line 6)

In [32]:
# take input from user using split so that the assumes values work as a string
l1 = input("Enter a list of numbers separated by space: ").split()


# convert each element to integer because otherwise it will work as a string and cannot determine the max value
l1 = [int(x) for x in l1]

# remove duplicates and convert to set
s1 = set(l1) #set automatically removes the duplicate numbers

# find maximum number
max_nm = max(s1)

# print the result
print("The maximum number is:", max_nm)

print(s1)

Enter a list of numbers separated by space: 1 9 3 4 5 200 54
The maximum number is: 200
{1, 3, 4, 5, 200, 9, 54}

## problem 15

In [33]:
Dict = { "name": "Shakil", "age":27 , "city":"Berlin" , "country": "Germany" }

In [34]:
Dict.keys()

dict_keys(['name', 'age', 'city', 'country'])

In [35]:
Dict['region']=Dict.pop('country')
print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

## problem 16

In [41]:
num = [10,100,300]
import pandas as p
df=p.DataFrame({'column number':num})
print(df)

   column number
0             10
1            100
2            300

## problem 17

In [43]:
Dict = { "name": "Shakil", "age":27, "city":"Berlin", "country": "Germany" }

Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}

In [48]:
Dict['age']=28
Dict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}

In [49]:
#Dict={'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}
#import pandas as pd
#df=pd.DataFrame(Dict)
#print(df)
#this code will not work simply because of absence of indexing"[]" in the values section.

In [50]:
#here is the correct code for this to convert into a dataframe

Dict={'name': ['Shakil'], 'age': [28], 'city': ['Berlin'], 'country': ['Germany']}
import pandas as pd
df=pd.DataFrame(Dict)
print(df)

     name  age    city  country
0  Shakil   28  Berlin  Germany

In [ ]:
###the end!